* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 576px) {
  .about .container {
    flex-direction: column;
  }

  .about-title {
    writing-mode: horizontal-tb;
    transform: rotate(360deg);
  }

  .contact-content p{
    font-size: 20px !important;
  }

  .project-title h2,
  .skills-title h2,
  .contact-title h2 {
    font-size: 60px;
    color: transparent;
    -webkit-text-stroke: 1px #6a67ce;
  }
}

@media (max-width: 768px) {
  .about .container {
    flex-direction: column;
  }

  .about-title {
    writing-mode: horizontal-tb;
    transform: rotate(360deg);
  }
}

@media (max-width: 992px) {
  .about .container {
    flex-direction: column;
  }

  .about-title {
    writing-mode: horizontal-tb;
    transform: rotate(360deg);
  }

  .contact-content p{
    font-size: larger !important;
  }
}
