*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
	margin-top: 10%;
    width: 5%;
}

.introduction-img{
    object-fit: cover;
    height: 600px;
}

.intro-text-color,.about-title{
    background-image: linear-gradient(to right, #6A67CE, #FC636B) !important;
    background-clip: text;
    color: transparent;
}

.social-media-item i:hover{
    background-image: linear-gradient(to right, #6A67CE, #FC636B) !important;
    color:white;
}

.about-title{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.about-item span{
     background-image: linear-gradient(to right, #6A67CE, #FC636B) !important;
    background-clip: text;
    color: transparent;
}

.about-content{
    box-shadow: #6A67CE 0px 2px 4px, #FC636B 0px 7px 13px -3px;
}