*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
	margin-top: 10%;
    width: 5%;
}

.intro-text-color{
    background-image: linear-gradient(to right, #6A67CE, #FC636B) !important;
    background-clip: text;
    color: transparent;
}

.social-media-item i:hover{
    background-image: linear-gradient(to right, #6A67CE, #FC636B) !important;
    color:white;
    transition: .2s;
}