/*  width 576 px  */

@media (max-width:576px){
 /* C A R O U S E L  */

 .carousel-content h2{
    font-size: xx-large !important;
 }
    .carousel-content p{
        font-size: large !important;
    }



    /* A B I L I T I E S */

     .abilities-content{
        flex-direction: column;
        text-align: center;
    }


}

/*  width 768 px  */

@media (max-width:768px){

 /* C A R O U S E L  */

     .carousel-content h2{
        font-size: 50px;
    }


    .carousel-content p{
        font-size: 20px;
    }

    /* S E R V I C E S  */

       .services-content h2{
        font-size: xX-large !important;
    }

    /* A B I L I T I E S */

    .abilities-content{
        flex-direction: column;
        text-align: center;
    }

}

/*  width 1200 px  */

@media (max-width:1200px){
    
 .services-content h2{
        font-size: x-large !important;
    }
}

/*  width 1400 px  */

@media (max-width:1400px){
   
 .services-content h2{
        font-size: 30px;
    }

}