* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

/* -------------- N A V I G A T I O N -------------------- */

nav ul li:last-child {
  border-color: #5758e0 !important;
}

nav ul li:last-child:hover {
  background-image: linear-gradient(to right, #5758e0, lightseagreen);
  color: white;
}

nav ul li a:hover {
  color: #5758e0 !important;
  transition: ease-in 0.2s;
}

#last-list a:hover {
  color: white !important;
}
/* -------------- N A V I G A T I O N - E N D ------------------- */

/* -------------- B A N N E R - S E C T I O N ------------------- */

.carousel-item {
  background: url("../images/slider-img-1.jpg"), rgba(0, 0, 0, 0.7);
  background-size: cover;
  height: 92vh;
  background-blend-mode: color-burn;
}

.carousel-content {
  padding: 150px 0px;
}

.carousel-content h2 {
  background-image: linear-gradient(to right, #5758e0, lightseagreen);
  background-clip: text;
  color: transparent;
}

.carousel-content a {
  background-color: #5758e0;
}

.carousel-content a:hover {
  background-image: linear-gradient(to right, #5758e0, lightseagreen);
  transition: ease-in 0.5s;
}

/* -------------- B A N N E R - S E C T I O N - E N D ------------------- */

/* -------------- S E R V I C E S - S E C T I O N -------------- */

.services-content a i:first-child {
  background-image: linear-gradient(to right, #5758e0, lightseagreen);
  background-clip: text;
  color: transparent;
}

.services {
  padding: 100px 0px;
}

.services-content:hover {
  background-image: linear-gradient(to right, #5758e0, lightseagreen);
}

.services-content:hover .color {
  color: white !important;
}

.services .col-lg-4:first-child .services-content a::before {
  position: absolute;
  top: -20px;
  left: -20px;
  background-image: linear-gradient(to right, #5758e0, lightseagreen);
  content: "";
  border-top-left-radius: 20px;
  width: 80%;
  height: 60%;
  z-index: -1;
}

.services .col-lg-4:last-child .services-content a::before {
  position: absolute;
  right: -20px;
  bottom: -20px;
  background-image: linear-gradient(to right, #5758e0, lightseagreen);
  content: "";
  border-bottom-right-radius: 20px;
  width: 80%;
  height: 60%;
  z-index: -1;
}

/* -------------- S E R V I C E S - S E C T I O N - E N D ------------- */

/* -------------- A B O U T - S E C T I O N  ------------- */

.about-us .col-6 span {
  width: 50px;
  height: 5px;
  background-image: linear-gradient(to right, #5758e0, lightseagreen);
}

/* -------------- A B O U T - S E C T I O N - E N D ------------- */

/* -------------- A B I L I T Y - S E C T I O N ------------- */

.abilities {
  background-color: rgb(17, 17, 17);
}

.abilities .col-6 span {
  width: 50px;
  height: 5px;
  background-image: linear-gradient(to right, #5758e0, lightseagreen);
}

.abilities-content i {
  background-image: linear-gradient(to right, #5758e0, lightseagreen);
  background-clip: text;
  color: transparent;
}

/* -------------- A B I L I T Y - S E C T I O N - E N D ------------- */
